/*------------------------------------
* sext
*
* @author linghua.zhang@me.com
* @link http://lhzhang.com/
* @update 2011-12-20
* 
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */
body{font-size:14px;font-family:"Snippet","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;color:#404040;background-color:#ffffff;}
*{padding:0;margin: 0;border:none;outline:none;}
a{color:#4775E7;text-decoration:none;}
a:hover{color:#D54773;text-decoration:underline;}
hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
p{padding:.5em 0;}
li{padding:.2em 0;}
ol,ul{list-style-position: outside; margin-left:1em;padding:0.5em 0;}
ol ul, ul ol, ul ul, ol ol {margin-left:1em;}
pre code{margin:1em 0;font-size:13px;line-height:1.6;display:block;overflow:auto;}
blockquote{display:block;border-left:4px solid #d2d2d2;}
blockquote{margin:1em 1em;padding-left:1.5em;}
blockquote p{margin:0;padding:.5em 0;}
#container{width:600px;margin:2em auto;display:block;padding:0 2em 0 12em;}
.content{font-size:16px;line-height:1.6;}
.content h1{padding:.5em 0;}
.content img{max-width:90%;display:block;margin:4px auto;-webkit-box-shadow:#999 1px 1px 4px;-moz-box-shadow:#999 1px 1px 4px;box-shadow:#999 1px 1px 4px; }
#tag_cloud{margin-bottom: 1em;font-weight:bold;}
#tag_cloud a:hover{color:#D54773 !important;text-decoration:none;}
.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{padding:.2em 1em;}
.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;margin-left:-1em;}
div.toc-header{float:right;padding:1em;border: 1px solid #ddd; margin-left: 1em; font-size: 14px; max-width: 40%;}
.toc-title{margin-left:1em; font-size:14px;}
header{padding:.5em 0;border-bottom: 1px solid #cccccc;}
nav{font-family:"Snippet","Microsoft YaHei",微软雅黑, Lucida Grande,Tahoma, sans-serif;font-weight:bold;font-size:1.1em;text-transform:uppercase;float:left;margin-left:-12em;width:9em;text-align:right;}
nav a{display:block;padding:.7em 1em;color:#000000;}
nav a:hover{background-color:#4775E7;text-decoration:none;color:#f9f9f9; -webkit-transition:color .2s linear;}
.post{padding:.5em 0em;}
h1{font-family:"Snippet","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.6em;color:#000;}
h2{font-family:"Snippet","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.4em;color:#111;padding:0.5em 0;}
h3{font-family:"Snippet","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.2em;color:#222;padding:0.5em 0;}
h4{font-family:"Snippet","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1em;color:#333;padding:0.5em 0;}
pre,code{font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;font-size:13px;}
code{background-color:#f7f7f7;border:1px solid #e1e1e8;padding:3px 4px;}
embed,object,iframe{display:block;margin:4px auto;}
.gist{font-size: 12px;line-height:1.6;}
.clickable-header {
    cursor:pointer;
}
.clickable-header:hover {
    text-decoration:underline;
}
.top-level-header {
    display:inline;
}
.back-to-top {
    margin-left:5px;
    cursor:pointer;
}

div.date, div.title{
    display: inline;
}
div.item{
    text-align:left;
}
a#go-top{
	background:url(http://www.lanrentuku.com/savepic/img/allimg/1206/5-120601160008.png) no-repeat left top;
width:50px;height:50px;}
a#go-top:hover{
	background:url(http://www.lanrentuku.com/savepic/img/allimg/1206/5-120601160008.png) no-repeat right top;
}
/*********************************************************\
 * baidu share
\*********************************************************/



.bdsharebuttonbox a{
	width: 31px!important;
	height: 32px!important;
	margin: 0 6px 0 0!important;
	background: url(/slides/share_icon.png) no-repeat!important;
}


.bdsharebuttonbox a.bds_tsina {
	background-position: -36px 0!important;
}
.bdsharebuttonbox a.bds_renren {
	background-position: -108px 0!important;
}
.bdsharebuttonbox a.bds_qzone {
	background-position: 0 0!important;
}
.bdsharebuttonbox a.bds_tqq {
	background-position: -72px 0!important;
}
.bdsharebuttonbox a.bds_weixin {
	background-position: -179px 0!important;
}
.bdsharebuttonbox a.bds_more {
	background-position: -144px 0!important;
}

.shareto {
	padding-top: 1em;
	max-width: 100%;
	display: block;
	border-top: 1px solid #cccccc;
}
.shareto span {
	float: left;
	padding-right: 15px;
	line-height: 32px;
}
.meta{
	margin: 0.5em 1em 1.5em 1em;
	padding-left: 1.5em;
	border-left: 4px solid #D2D2D2;
}

.toc > ul{
	padding:0.4em 0em 0em 0em;
}
.toc > ul > li{
	padding:0.4em 0em 0em 0em;
}
.toc > ul > li > ul{
	padding:0.4em 0em 0em 0em;
}


#box{
	display: none;
}
