@font-face {
    font-family: "SentyPea";
    src: url("https://cdn.jsdelivr.net/gh/dustincys/dustincys.github.com@master/fontmin/SentyPea-ysc.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "SentySnow";
    src: url("https://cdn.jsdelivr.net/gh/dustincys/dustincys.github.com@master/fontmin/SentySnowMountain-ysc.woff2") format("woff2");
    font-display: swap;
}
.headname {
	text-align:center;
	font-size:2em;
	line-height:2em;
	font-family: "SentySnow", serif;
}
.header {
	text-align: center;
  margin-bottom: 50px;
}
.header .slogan {
	font-family: "SentyPea", serif;
	font-size: 18px;
}
.article {
	position: relative;
	text-align: center;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.myblog {
    display: inline-block;
    font-family: "SentyPea", serif;
    font-size: 24px;
    text-align: center;
    color: #000;
}
.myblog:hover {
	background: #000;
	color: #fff;
}
.container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
