@font-face {
    font-family: "SentyZHAO";
    src: url("/fontmin/SentyZHAO.eot"); /* IE9 */
    src: url("/fontmin/SentyZHAO.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fontmin/SentyZHAO.woff") format("woff"), /* chrome, firefox */
    url("/fontmin/SentyZHAO.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("/fontmin/SentyZHAO.svg#SentyZHAO") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

.headname {
text-align:center;
font-size:2em;
line-height:2em;
}


pre {
  text-align: center;
  height: 100%;
  padding: 10px;
  font-family: "SentyZHAO";
  line-height: 1.8em;
  writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin: 0 auto;
  font-size: 30px;
  overflow: hidden;
}
