@font-face {
    font-family: "Senty Snow Mountain 新蒂雪山体";
    src: url("SentySnowMountain.eot"); /* IE9 */
    src: url("SentySnowMountain.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("SentySnowMountain.woff") format("woff"), /* chrome, firefox */
    url("SentySnowMountain.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("SentySnowMountain.svg#Senty Snow Mountain 新蒂雪山体") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


