<!doctype html>
<html xmlns:wb="http://open.weibo.com/wb">
	<head>
		<meta charset="utf-8"/>
		<title>Yanshuo</title>
		<meta name="author" content="Yanshuo | 石见石页_"/>
		<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/media/css/home.css"/>
		<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="headname"><span id="sitename">石见  石页</span>    <wb:follow-button uid="1641860010" type="red_1" width="67" height="24" style="position: absolute;" ></wb:follow-button></div>
				<div class="slogan">一个理性的理想主义者，一个书呆</div>
			</div>
			<div class="article">
			<pre><p>诗余戏笔不知狂    <br/>    岂是丹青费较量<br/>聚叶泼成千点墨    <br />    攒花染出几痕霜</p></pre>
			</div>
			<center>
			<a class="myblog" href="/cn/">博客</a>
			</center>
		</div>
		{{content}}
		<script type="text/javascript" src="http://tajs.qq.com/stats?sId=40045081" charset="UTF-8"></script> 
	</body>
</html>
