<!doctype html>
<html xmlns:wb="http://open.weibo.com/wb">
	<head>
		<meta charset="utf-8"/>
		<title>Yanshuo</title>
		<meta name="author" content="Yanshuo | 石见石页_"/>
		<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css"
				media="screen and (min-width: 700px)"   href="/media/css/home.css"/>
		<link rel="stylesheet" type="text/css"
				media="screen and (max-width: 700px)"   href="/media/css/tinyhome.css"/>
		<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="headname"><span id="sitename">石见 石页</span>    <wb:follow-button uid="1641860010" type="red_1" width="67" height="24" ></wb:follow-button></div>
				<div class="slogan"> 字体子集化，在线提取你需要的字体开始使用</div>
			</div>
			{{ content }}
			<center>
				<ul class="nav pills">
					<li><a href="/cn/">博客</a></li>
				</ul>
			</center>
		</div>
		<script type="text/javascript" src="http://tajs.qq.com/stats?sId=40045081" charset="UTF-8"></script> 
	</body>
</html>
